@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Light.eot');
    src: url('../fonts/Barlow-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Barlow-Light.woff2') format('woff2'),
        url('../fonts/Barlow-Light.woff') format('woff'),
        url('../fonts/Barlow-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}