.nav-logo {
	color: #FA6980;
	display: inline-block;
	margin-left: 20px;
	margin-right: 100px;
	vertical-align: middle;
	font-family: 'Barlow';
	font-weight: bolder;

}

.nav-li {
	display: inline-block;
	margin-right: 30px;
	font-family: 'Barlow';
	font-weight: bolder;
}

.nav-ul {
	vertical-align: middle;
}
.nav-link {
	color: #343638;

}

.navigation {
	display: inline-block;
	margin-left: 130px;

}

.header-wrapper {
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;	
	background-color: #F6F8F9;
	width: 100%;
	z-index: 15;

}


.section-title {
	font-weight: bold;
	margin-bottom: 38px;
	font-family: 'Barlow';
}

body {
	background-color: #F6F8F9;
    
}

.main-div {
	width: 1160px;

}
.division {
	display: inline-block;
	width: 360px;
	height: 350px;
	background-color: white;
	margin-right: 40px;
}

.division1 {
    display: inline-block;
    width: 360px;
	height: 350px;
	background-color: white;
}

.text {
	width: 280px;
	color: #A6ADB4;
	margin-top: 65px;
	margin-right: auto;
	margin-left: auto;
	font-family: 'Barlow';
}

.time {
	margin-left: 40px;
	margin-top: 15px;
}

.time-text {
	color: #A6ADB4;
    width: 70px;
    display: inline-block;
    font-family: 'Barlow';
}

.first-section {
	width: 1160px;
	height: 410px;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
}

a {
 
  text-decoration: none;

}

.second-section-title {
font-weight: bold;
margin-bottom: 40px;
font-family: 'Barlow';

}
.icon {
	vertical-align: middle;
}

.second-section {
	width: 1160px;
	height: 900px;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
}
.img {
	position: relative;
	z-index: 10;

}

.img-text {
	color: white;
	font-weight: bold;
	position: absolute;
	top: 40px;
	left: 40px;
	z-index: 10;
	font-family: 'Barlow';
}

.img-div {
	position: relative;

}


.section2-img {
	margin-bottom: 40px;

}

.section2-div1 {
	display: inline-block;
	width: 760px;
	height: 900px;
	margin-right: 30px;
	position: relative;


}

.section2-div2 {
	display: inline-block;
	width: 360px;
	height: 900px;
	position: absolute;


}

.section2-small-img {
	vertical-align: middle;
	margin-bottom: 100px;
}

.last-footer {
    height: 200px;
	background-color: #A6ADB4;
	margin-top: 100px;
}

.footerP {
	color: white;
	font-weight: bold;
	margin-top: 60px;
	width: 40px;
	display: inline-block;
	vertical-align: top;
	margin-right: 65px;

}

.footer-nav {
	display: inline-block;

}


.footer-ul {
	display: inline-block;
	margin-top: 60px;
	margin-right: 65px;

}

.footer-li {
    color: #CBD0D3;
    font-size: 13px;
    font-family: 'Barlow';
}

.footer-div {
	width: 1160px;
	margin: 0 auto;
}

.footer-text {
	display: inline-block;
	margin-right: 175px;
	color: #CBD0D3;
    font-size: 13px;
    vertical-align: top;
    margin-top: 60px;
    font-family: 'Barlow';

}

.footer-div-img {
	display: inline-block;
}
.footer-img {
	display: inline-block;
}

.footer-logo-a {
	color: white;
	 font-family: 'Barlow';
}

.footer-a {
	color: #CBD0D3;
}
